.album { clear:both; padding-top:25px; }
.col-1, .col-2, .col-3 { width:33%; float:left; }
.col-3 iframe { width:100%; height:250px; }

.col-1 img { max-width:100%; height:auto; padding:10px 5px; cursor:pointer; }

.album-title { font-weight:bold; font-size:1em; }
.track-list button { font-size:0.9em; color:#ddd; background:none; padding:0px; cursor:pointer; text-align:left; }
.track-list button:hover { text-decoration:underline; color:#d0070d; }
.currently-playing { color:#d0070d !important; }

/* Breakpoints */
@media only screen and (max-width:1025px) { /* Landscape Tablet and below */

}

@media only screen and (max-width:769px) { /* Portrait Tablet + Mobile */
    .col-2 { width:66%; padding-left:25px; padding-bottom:10px; }
    .col-3 { clear:left; }

    .col-3 { position:relative; padding-bottom:56.25%; /* 16:9 */ padding-top:25px; height:0; width:100%; }
    .col-3 iframe { position:absolute; top:0; left:0; width:100%; height:100%; }
}
